@import '../../../assets/css/variables.css';

/*@TODO: Use <imgs> instead of backgrounds for better positioning control, cleaner css and accessibility*/

.panel {
  display: flex;
  font-size: 1.125rem;
  padding: 50px 0;
}

.panel:nth-child(even) {
  background-position: 25% center !important;
}

.inner {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  height: 30vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.content {
  width: calc(5 / var(--columnCount) * 100%);
  padding-right: var(--gutter);
  margin-right: auto;
}

.panel:nth-child(even) .content {
  margin-left: calc(7 / var(--columnCount) * 100%);
  padding-right: 0;
}

.mrRed {
  composes: panel;
  composes: mrRed from "../themes.module.css";
}

.mrRed .inner {
  background-image: url('../img/mr-red.png');
  background-position-x: 15%;
  background-size: auto 50%;
}

.ahm {
  composes: panel;
  composes: ahm from "../themes.module.css";
}

.ahm .inner {
  background-image: url('../img/ahm.png');
  background-position-x: 80%;
  background-size: auto 50%;
}

.lifeWithBird {
  composes: panel;
  composes: lifeWithBird from "../themes.module.css";
}

.lifeWithBird .inner {
  background-image: url('../img/life-with-bird.jpg');
  background-position-x: 13%;
  background-size: auto 95%;
  background-position-y: bottom;
}

.omegaexchange {
  composes: panel;
  composes: omegaexchange from "../themes.module.css";
}

.omegaexchange .inner {
  background-image: url('../img/omegaexchange.jpg');
  background-position-x: 78.5%;
}

.pabspacks {
  composes: panel;
  composes: pabspacks from "../themes.module.css";
}

.pabspacks .inner {
  background-image: url('../img/pabspacks.jpg');
  background-position-x: 78.5%;
}

.caterapp {
  composes: panel;
  composes: caterapp from "../themes.module.css";
}

.caterapp .inner {
  background-image: url('../img/caterapp.jpg');
  background-position-x: 13%;
  background-size: auto 95%;
  background-position-y: bottom;
}

@media (--small) {
  .inner {
    background-image: none !important;
    height: 20vh;
    min-height: 200px;
  }
  .content {
    width: calc(12 / var(--columnCount) * 100%);
    padding-right: 0;
    height: auto;
    margin-left: 0 !important;
  }
}
